html, body {
	height: 100%;
}

.full {
	height: 100%;
}

.infobox {
    background-color: #EBEBEB;
    width: 900px;
    clear: both;
    display: block;
/*    height: 250px; */
    padding: 10px;
    margin: 10px;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

tr {
    background-color: white;
}

.byline {
    margin-top: 50px;
    text-align: center;
}

.main {
    margin-bottom: 10px;
    background-color: #E9F1F4;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
}

.mainrpt {
    background-color: #E9F1F4;
    -moz-box-shadow: 5px 5px 5px #888;
    -webkit-box-shadow: 5px 5px 5px #888;
    box-shadow: 5px 5px 5px #888;
}

.center {
    text-align: center;
}

.border-right {
    border-style: solid;
    border-width: 0px 1px 0px 0px;
}

.content {
    display: none;
}

h1 {
    text-align: center;
}

.col {
    padding: 20px;
}

.hideme {
    display: none;
}

.collapse {
    height: 15px;
    overflow: hidden;
}

.col h2 {
    text-align: center;
    color: #BBB7BB;
}

.header h2 {
    color: white;
    width: 800px;
}

.spinner {
}

.header {
    background-color: #003E9F;
    color: white;

    width: 900px;
    height: 40px;

    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: -10px;
    padding: 0px 10px 0px 10px;
}

input {
    text-align: center;
}

map {
    width: 30%;
    height: 200px;
    float: right;
}
